
@{
    ViewBag.Title = "Actualizar";
}

<h2>Actualizado</h2>
<h2>Se ha generado un nuevo CSV con el álbum actualizado</h2>
<form action="Menú" method="post">
    <input type="submit" name="enviar" value="Retornar al Menú" />
</form>

